<div class="container">
  <div [ngStyle]="{'paddingTop.px': 50}" class="text-center">
    <img class="img-responsive" height="100px"
         src="/assets/images/todologo.gif" width="200px">
  </div>
  <form #todoForm="ngForm" (ngSubmit)="!todoForm.invalid && saveTodo()">
    <div [ngStyle]="{'paddingTop.px': 40}" align="center">
      <div class="alert alert-warning col-md-6" *ngIf="todoForm.invalid && todoForm.dirty">Please Enter Valid Data</div>
      <div class="alert alert-warning col-md-6" *ngIf="targetDate.invalid && todoForm.dirty">Please Enter Target Date</div>
      <div class="alert alert-warning col-md-6" *ngIf="description.invalid && todoForm.dirty">Please Enter Description</div>
      <div class="form-group col-md-6">
        <label for="description">Description</label>
        <input (ngModelChange)="todo.description = $event" [ngModel]="todo?.description" class="form-control"
               id="description"
               name="description" placeholder="Description" required="required" ng-required="true" type="text" #description="ngModel" minlength="6">
      </div>

      <div class="form-group col-md-6">
        <label for="targetDate">Target Date</label>
        <input (ngModelChange)="todo.targetDate = $event" [ngModelOptions]="{standalone: true}" [ngModel]="todo?.targetDate | date: 'yyyy-MM-dd'"
               class="form-control"
               id="targetDate"
               name="targetDate" placeholder="Target Date" required="required" type="date" #targetDate="ngModel">
      </div>

      <div class="form-group col-md-6 text-center">
        <button class="btn btn-success" type="submit">Save</button>
      </div>
    </div>
  </form>
</div>
